@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1280px){
	body{width:100%;}
	}
@media screen and (max-width:1180px){
	body{width:100%;}
	}
	
@media screen and (max-width:980px){
	body{width:100%;}
	nav ul{display:none;}
	nav .logoone{ display:block;}
	
	}
